.search{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 10px;
    background: rgb(160, 80, 160);
    color: white;
}