<div class="container">
  <h1>📝 Jira Task Board</h1>

  <div class="input-box">
    <button class="add" (click)="openAddForm()">+ Add New Task</button>
  </div>


  @if(showForm){
  <div class="showform" (click)="closeForm()">
    <div class="top-form" (click)="$event.stopPropagation()">
      <h2>{{ isEdit ? 'Edit Task' : 'Add Task' }}</h2>
      <input type="text" placeholder="Title" [(ngModel)]="formData.title">
      <input type="text" placeholder="Estimate Time" [(ngModel)]="formData.estimationTime">
      <textarea placeholder="Description..." [(ngModel)]="formData.description" rows="4"></textarea>
      <input type="date" [(ngModel)]="formData.date">

      <div class="btn-group">
        <button class="save-btn" (click)="saveData()">Save</button>
        <button class="cancel-btn" (click)="closeForm()">Cancel</button>
      </div>
    </div>
  </div>
  }


  <div class="filters">
    <button (click)="filter='todo'" [class.active]="filter==='todo'">To Do</button>
    <button (click)="filter='development'" [class.active]="filter==='development'">Development</button>
    <button (click)="filter='testing'" [class.active]="filter==='testing'">Testing</button>
    <button (click)="filter='merging'" [class.active]="filter==='merging'">Merging</button>
    <button (click)="filter='completed'" [class.active]="filter==='completed'">Completed</button>
  </div>

  @if (getFilteredTasks().length === 0) {
  <p class="empty">No tasks in {{ filter }} stage!</p>
  }


  <ul>
    @for (task of getFilteredTasks(); track $index) {
    <li>

      <select class="dropdown" [ngModel]="task.status" (ngModelChange)="changeStatus(task, $event)">
        <option value="todo" [disabled]="task.status !== 'todo'">To Do</option>
        <option value="development" [disabled]="task.status !== 'todo' && task.status !== 'development'">Development
        </option>
        <option value="testing" [disabled]="task.status !== 'development' && task.status !== 'testing'">Testing</option>
        <option value="merging" [disabled]="task.status !== 'testing' && task.status !== 'merging'">Merging</option>
        <option value="completed" [disabled]="task.status !== 'merging' && task.status !== 'completed'">Completed
        </option>
      </select>

      <div class="task-content">
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <small>Time: {{ task.estimationTime }} | Date: {{ task.date }}</small>
      </div>

      <div class="buttons">
        <button class="edit" (click)="openEditForm(task, tasks.indexOf(task))"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
          </svg></button>
        <button class="delete" (click)="deleteTask(tasks.indexOf(task))"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg></button>
      </div>
    </li>
    }
  </ul>
</div>







































<!-- <div class="container">
  <h1>&#128221; To-Do List</h1>
  <div class="input-box">
    <input type="search" placeholder=" Search Task here.." [(ngModel)]="taskInput" (keyup.enter)="openAddForm()" />
    <button class="add" (click)="openAddForm()">Add</button>
  </div>

  @if(showForm){
  <div class="showform" (click)="showForm=false">
    <div class="top-form" (click)="$event.stopPropagation()">
      <input type="text" placeholder="Enter Title of Jira" [(ngModel)]="formData.title">
      <input type="text" placeholder="Enter Estimate Time" [(ngModel)]="formData.EstimationTime">
      <textarea placeholder="Enter Description of Jira..." [(ngModel)]="formData.description" rows="4"></textarea>
      <input type="date" placeholder="Enter Starting Date">

      <div class="btn-group">
        <button class="save-btn" (click)="saveData()">Save</button>
        <button class="cancel-btn" (click)="showForm=false">Cancel</button>
      </div>
    </div>
  </div>
  }
  <div class="filters">
    <button (click)="filter='all'" [class.active]="filter==='all'">
      To Do
    </button>
    <button (click)="filter='develpoment'" [class.active]="filter==='development'">
      Development
    </button>
    <button (click)="filter='testing'" [class.active]="filter==='Testing'">
      Testing
    </button>

    <button (click)="filter='mearging'" [class.active]="filter==='Mearging'">
      Mearging
    </button>

    <button (click)="filter='completed'" [class.active]="filter==='completed'">
      Completed
    </button>
  </div>
  @if (getFilteredTasks().length === 0) {

  @if (filter === 'all') {
  <p class="empty">No tasks yet! Add one above </p>
  }
  @if (filter === 'develpoment') {
  <p class="empty">No Development task !!</p>
  }
  @if (filter === 'testing') {
  <p class="empty">No Testing pending!!</p>
  }

  @if (filter === 'mearging') {
  <p class="empty">No Pending Work !!</p>
  }

  @if (filter === 'completed') {
  <p class="empty">All task are Completed !! </p>
  }
  }
  <ul>
    @for (task of getFilteredTasks(); track $index) {
    <li>
      <select class="dropdown">
        <option></option>
        <option value="Development">Development</option>
        <option value="Testing" disabled>Testing</option>
        <option value="Mearging" disabled>Mearging</option>
        <option value="Completed" disabled>Completed</option>
      </select>

      <span [class.done]="task.completed">
        <h2 style="text-align: center;">{{ task.title }}</h2>
        <p style="text-align: center;">{{ task.description }}</p>
        <p style="text-align: center;">Time: {{ task.EstimationTime }} | Date: {{ task.date | date }}</p>
      </span>

      <div class="buttons" >
        <button class="show"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
          </svg></button>
        <button class="edit" (click)="openEditForm(task,$index)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-pencil-square"
            viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
          </svg>
        </button>

        <button class="delete" (click)="deleteTask($index)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" stroke-width="3" stroke="#000000" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg></button>
      </div>

    </li>
    }
  </ul>
</div> -->